@mixin dimension($val, $vil){
	width: $val;
	height: $vil;
}

@mixin box-sizing($val){
    box-sizing: $val;  
    -moz-box-sizing: $val; /*Firefox 1-3*/  
    -webkit-box-sizing: $val; /* Safari */  
}

@function substraction($some-number, $another-number){
  @return $some-number + $another-number
}

@mixin transition ($val){
	-webkit-transition: all ease-out $val;
    -moz-transition: all ease-out $val;
    -o-transition: all  ease-out $val;
    transition: all ease-out $val;
} 

@mixin border-radius($val){
	-webkit-border-radius: $val;
    -moz-border-radius: $val;
    -o-border-radius: $val;
    border-radius: $val;
}


$green: #228b22;

/*
custom
*/

html,body {
    overflow-x: hidden;
}
.s_super_container {
    position: relative;
    display:block;
}
.s_left_display {
  //  background-color: #324;
  display: block;
    //position: fixed; 
    z-index:99;
    color:#fff;
    position: fixed; 
    //left: -100px;

    .s_sidebar_area {
        width: 80%; 
        display: block; 
        float: left; 
        background-color: #dfdfdf;//#324;
        color: #232323;
    }

    .s_sidebar_close_area {
        width: 20%; 
        display: block; 
        float: left;
    }
    
}
.s_middle_display {
    position: relative;
    background-color: #f1f1f1;
}
.s_right_display {

}